bittensor==10.0.1
datasets==2.18.0
langchain_ollama==0.1.3
loguru==0.7.0
numpy==2.0.2
pandas==2.2.3
pydantic==2.10.3
pylatexenc==2.10
Requests==2.31.0
rich==13.7.1
scikit_learn==1.5.2
setuptools==70.0.0
torch==2.8.0
tqdm==4.66.2
transformers==4.36.0
nltk==3.8.1
wandb==0.17.2
hf_transfer
gdown
zstandard==0.22.0
pyspellchecker==0.8.1
symspellpy==6.7.7
typo==0.1.7
scalecodec
fasttext-numpy2==0.10.4
accelerate==1.0.1
bittensor-cli==9.17.0

bs4
pre-commit==3.3.2
sentencepiece
tenacity
wikipedia
wikipedia_sections